<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/Foto.jpeg" class="img-fluid" id="fotoPerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h2 id="nombre">{{persona.nombre}} {{persona.apellido}}</h2>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>Acerca de mí:</h2>
            <p>En lo profesional soy Licenciado en Administración y Full Stack Developer Jr, actualmente trabajando como Analista de Control de Gestión en Aguas Cordobesas SA.</p>
            <p>En lo personal, aficionado de la familia y amigos, la música, el deporte, los libros y películas.    </p>
        </span>
    </div>
</div>