<div class="row">
    <h2>Formación Académica</h2>
 
    <div class="col-lg-12">
        <ul>
            <li><h2>Carrera 1</h2> - <h3>Años</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci vitae repudiandae distinctio, assumenda enim velit? Aperiam, saepe aliquam nesciunt doloremque maxime repellat. Dolorem veniam exercitationem expedita tempora consequatur asperiores aperiam.</p>
        </ul>
        <ul>
            <li><h2>Carrera 2</h2> - <h3>Años</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci vitae repudiandae distinctio, assumenda enim velit? Aperiam, saepe aliquam nesciunt doloremque maxime repellat. Dolorem veniam exercitationem expedita tempora consequatur asperiores aperiam.</p>
        </ul>
        <ul>
            <li><h2>Carrera 3</h2> - <h3>Años</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci vitae repudiandae distinctio, assumenda enim velit? Aperiam, saepe aliquam nesciunt doloremque maxime repellat. Dolorem veniam exercitationem expedita tempora consequatur asperiores aperiam.</p>
        </ul>
        <ul>
            <li><h2>Carrera 4</h2> - <h3>Años</h3></li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci vitae repudiandae distinctio, assumenda enim velit? Aperiam, saepe aliquam nesciunt doloremque maxime repellat. Dolorem veniam exercitationem expedita tempora consequatur asperiores aperiam.</p>
        </ul>
    </div>
</div>

