.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    margin-right: 0.8em;
}

#logoArgProg{
    width: 150px;
}

.btn{
    border-width: medium;
}

img{
    width: 50px;
}

@media(max-width:575px){
    .container{
        flex-direction: column;
    }

    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.3em;
    }
}