<div class="row">
    <h2>Hard & Soft Skills</h2>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="80"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#F5DEB3'"
            [showSubtitle]="false"
            [title]="'HTML'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#F5DEB3'"
            [showSubtitle]="false"
            [title]="'CSS'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="75"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#F5DEB3'"
            [showSubtitle]="false"
            [title]="'JavaScript'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="70"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#F5DEB3'"
            [showSubtitle]="false"
            [title]="'SQL'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="90"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#F5DEB3'"
            [showSubtitle]="false"
            [title]="'Inglés'"
            [titleFontSize]="'2em'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
            [percent]="100"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#FF6347'"
            [innerStrokeColor]="'#F5DEB3'"
            [showSubtitle]="false"
            [title]="'Trabajo en equipo'"
            [titleFontSize]="'1.3em'"
            [titleFontWeight]="'bold'"
            [showUnits]="false"
            [animation]="true"
            [animationDuration]="900"
        ></circle-progress>
        </div>
</div>
